/* styles.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

/* Header styling */
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Container for input fields and button */
.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Input and select fields */
label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="number"], select {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

input[type="number"]:focus, select:focus {
    border-color: #007BFF;
}

/* Button styling */
.calculateButton {
    background-color: #007BFF;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}
.btnGroup{
    width: 100%;
}
.toggleLanguage{
    width: 100px;
    height: 30px;
    float: right;
    border: none;
}
.toggleLanguage#en{
    background-color: #007BFF;
    border-radius: 4px;
    color: white;
}
.toggleLanguage#ar{
    background-color: transparent;

}

.calculateButton:hover {
    background-color: #0056b3;
}

/* Output section */
.element-name, .result {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

/* Additional styling for result display */
.result {
    font-size: 10px;
    color: #007BFF;
    margin-top: 15px;
}
footer{
    position: absolute;
    bottom: 0;
    padding: 10px;
    font-size: 15px;
}
@media screen and (max-width: 768px) {
    .container {
        padding: 1.5rem;
        width: 90%;
    }

    input[type="number"], select, .calculateButton {
        font-size: 0.9rem;
        padding: 0.75rem;
    }

    .element-name, .result {
        font-size: 1rem;
    }

    .result {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    body {
        padding: 1rem;
    }

    .container {
        padding: 1rem;
        width: 100%;
    }

    input[type="number"], select, .calculateButton{
        font-size: 0.85rem;
        padding: 0.6rem;
    }

    .element-name, .result {
        font-size: 0.9rem;
    }

    .result {
        font-size: 15px;
    }
}